<div class="container">
  <div class="row mt-md-4 mb-md-4">
    <blockquote class="blockquote">
      <p class="mb-0">{{ actionToDo }}</p>
      <footer class="blockquote-footer">Detalles de <cite title="Source Title">libros</cite>.</footer>
    </blockquote>
  </div>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label class="required" for="title">Título</label>
      <input type="text" class="form-control" id="title" placeholder="Introduzca el título aquí"
             formControlName="title" #title [ngClass]="formValidationService.displayFieldCss('title', bookForm)">
      <app-field-error [displayError]="formValidationService.isFieldValid('title', bookForm)" errorMessage="Por favor introduzca el título del libro" class="invalid-feedback"></app-field-error>
    </div>
    <div class="form-group">
      <label for="author">Autor</label>
      <input type="text" class="form-control" id="author" placeholder="Introduzca el autor aquí"
             formControlName="author" #author>
    </div>
    <div class="form-group">
      <label class="required" for="width">Ancho</label>
      <input type="text" class="form-control" id="width" placeholder="Introduzca el ancho del libro (cm)"
             formControlName="width" #width [readOnly]="fieldsAsReadOnly" [ngClass]="formValidationService.displayFieldCss('width', bookForm)"
             pattern="[0-9]*">
      <app-field-error [displayError]="formValidationService.isFieldValid('width', bookForm)" errorMessage="Por favor introduzca el ancho del libro" class="invalid-feedback"></app-field-error>
    </div>

    <div class="pull-right">
      <a [routerLink]="['/books']" class="btn btn-sm btn-light mr-sm-3"><i class="fa fa-angle-double-left"></i> Volver al listado</a>
      <button type="submit" class="btn btn-sm btn-info">Guardar</button>
    </div>
  </form>
</div>
